@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px 0px;
    height: 65px;
    position: fixed;
    width: 100%;
}
.header_container .logo{
    display: flex;
    align-items: center;
    margin-left: 60px;
    color: #EE5B2B;
    font-weight: 700;
    font-size: 20px;
}
.header_container .logo .mini_logo{
    margin: 15px;
    background-color: #EE5B2B;
    color: white;
    margin-left: 20px;
    padding: 5px 8px;
    border-radius: 15px;
}
.header_container .links{
    margin-right: 40px;
}
.header_container .links nav ul{
    display: flex;
    align-items: center;
}
.header_container .links nav ul li{
    margin: 0 60px;
    list-style-type: none;
    color: #EE5B2B;
    font-size: 18px;
}
.header_container .links nav ul{
    margin-right: 30px;
}
.header_container .links button{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #EE5B2B;
    color: white;
    height: 35px;
    font-weight: 700;
    font-size: 16px;
}
.info_maincontainer{
    display: flex;
    align-items: center;
}
.info_container{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 40px;
}
.info{
  line-height: 25px;
  margin-bottom: 100px;
  font-weight: 700;
}
.info h2{
    margin-bottom: 40px;
}
.info_icons{
    margin-top: 30px;
    display: flex;
}
.info_icons img{
    width: 150px;
}
.info_icons img:nth-child(1){
    margin-right: 30px;
}
.info_img{
    width: 100%;
    margin-top: -150px;
}
.info_img img{
    margin-top: 80px;
    position: static;
    width: 700px;
    margin-bottom: -90px;
}
/* service section */
.service_container{
    background: #F6F6F6;
    height: 400px;
    padding: 30px;
}
 .headings{
    text-align: center;
    line-height: 30px;
}
.service_itemcontainer{
    display: flex;
    text-align: center;
}
.service_item{
    margin-top: 30px;
}
.service_item img{
    height: 70px;
    width: 60px;
    background: #EE5B2B;
    padding: 8px 0;
    border-radius: 5px;
    border: 2px solid white;
}
